div(ng-include='"components/navbar/navbar.html"')

.container
  .row
    h1.page-header Map
    #map-canvas
  .container
    .row(style="margin-left: -15px;")
      ul.pages(class="paginate pag2 clearfix")
        li
          p.page
            a(href="javascript:void(0)", ng-click="loadPrevPage()", ng-if="currentPage != 1") prev
        li(ng-repeat="page in getNumber(totalPages) track by $index")
          p.page 
            a(ng-href="/map/{{$index+1}}",ng-class="{active: ($index+1) == currentPage}") {{$index+1}}
        li
          p.page
            a(href="javascript:void(0)", ng-click="loadNextPage()", ng-if="currentPage < totalPages") next

.loader(ng-if="showLoader")
  img(class="gif-loader", src="assets/images/loader.gif")