 html, body, 
 #map-canvas {
  height: 750px;
  margin: 0px !important;
  padding: 0px !important;
}

#map-canvas  {
  width: 100%;
  display: inline-block;

  img {
    max-width: none;
  }

  label { 
    width: auto; 
    display:inline; 
  } 
}