 html, body, 
 #map-canvas {
  height: 750px;
  margin: 0px !important;
  padding: 0px !important;
}

#map-canvas  {
  width: 100%;
  display: inline-block;

  img {
    max-width: none;
  }

  label { 
    width: auto; 
    display:inline; 
  } 
}

ul.pages {
  text-align: center;
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  position: relative;

  li {
    display: inline-block;
    margin: 5px;
  }
}

/** First Design Pagination **/
.paginate.pag1 { /* first page styles */ }
 
.paginate.pag1 li { font-weight: bold;}
 
.paginate.pag1 li a {
  display: block;
  float: left;
  color: #717171;
  background: #e9e9e9;
  text-decoration: none;
  padding: 5px 7px;
  margin-right: 6px;
  border-radius: 3px;
  border: solid 1px #c0c0c0;
  box-shadow: inset 0px 1px 0px rgba(255,255,255, .7), 0px 1px 3px rgba(0,0,0, .1);
  text-shadow: 1px 1px 0px rgba(255,255,255, 0.7);
}
.paginate.pag1 li a:hover {
  background: #eee;
  color: #555;
}
a.active {
  font-weight: bold;
  -webkit-box-shadow: inset -1px 2px 5px rgba(0,0,0,0.25);
  -moz-box-shadow: inset -1px 2px 5px rgba(0,0,0,0.25);
  box-shadow: inset -1px 2px 5px rgba(0,0,0,0.25);
}
 
.paginate.pag1 li.single, .paginate.pag1 li.current {
  display: block;
  float: left;
  border: solid 1px #c0c0c0;
  padding: 5px 7px;
  margin-right: 6px;
  border-radius: 3px;
  color: #444;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: 1000;
  text-align: center;
  padding: 6%;
  
  .gif-loader {
    width: auto;
    position: absolute;
    display: inherit;
    top: 20%;
    left: 30%;
  }
}
